* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myBtn:hover > .icon
{
  filter: brightness(0%);
}

.icon
{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 8px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.play
{
  background-image: url(./bouton-jouer.png);
}

.icon.pause
{
  background-image: url(./bouton-pause.png);
}

.label
{
  width: auto;
  height: auto;
}